@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{padding: 0px;
margin: 0px;
}

/*share styles*/
.list{
    font-size: 1.25rem;
    font-weight: 700;
    list-style: none;

}

.list-1:hover{
    background-color: rgba(254, 161, 1, 0.315);
}
 
.list-2:hover{
    background-color: rgba(1, 173, 253, 0.26);
}

.list-3:hover{
    background-color: rgba(5, 212, 223, 0.279);
}

.list-4:hover{
    background-color:rgba(93, 88, 239, 0.269)
}


/*header and nav styles*/

#header{

}

.nav{
    width: 1440px;
height: 102px;
    padding: 20px 0px 20px 0px;    
}

.main-nav{
    width: 1160px;
height: 62px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;



}

.nav-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 62px;
    gap: 11px;
    

}

.img-div1{
    width: 62px;
    height: 62px;

}

.nav-h3{
    font-size: 2rem;
    font-weight: 700;

}

.nav-div2{
   

}

.nav-middle-part{
    display: flex;
    align-items: center;
    
    gap: 32px;

}

.list-1{
   color:rgb(254, 163, 1);

}

.list-2{
color: rgb(1, 172, 253);

}

.list-3{
    color:rgb(5, 212, 223);

}

.list-4{
color: rgb(93, 88, 239);

}

.nav-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
font-weight: 600;
border-radius: 12px;
background: rgb(254, 163, 1);

}

.btn{
    
    width: 76px;
    height: 30px;
    background: rgb(254, 163, 1);
    border: none;
    

}

.btn-contact{
    
    color: white;
    text-decoration: none;

}

/*nav banner section*/

.main-banner-div{
display: flex;
justify-content: space-between;
align-items: center;
    width: 1158.61px;
height: 575px;
margin: 0 141px;

}

.main-banner{
    width: 610px;
    height: 331px;
    


}

.banner-h1{
    font-size: 3.5rem;
    font-weight: 700;
    

}

.sp1{
   color: rgb(254, 163, 1);
}

.sp2{
color: rgb(17, 17, 17);

}

.sp3{
color: rgb(1, 172, 253);

}

.banner-p{
    width: 640px;
height: 50px;
    font-size: 1.25rem;
    font-weight: 400;
    color:rgb(17, 17, 17);
    margin-top: 20px;
    margin-bottom: 20px;

}

.banner-btn2{
    width: 197px;
    height: 50px;
    border-radius: 12px;
background: rgb(17, 17, 17);

}

.btn2{
    width: 103px;
    height: 30px;
    color: white;
    font-size: 1.25rem;
font-weight: 700;
text-decoration: none;
}

.banner-img{


}


@media screen and (max-width: 576px) {
    /* .nav-h3, .nav-div2, .nav-div3{display: none;}
.main-banner-div{flex-direction: column;
flex-direction: column-reverse;
width: 100%;} */

}